[
  {
    "scope": "https://www.worldtides.info:443",
    "method": "GET",
    "path": "/api/v3?date=2025-01-01&datum=CD&days=7&extremes=true&lat=51.5074&lon=-0.1278",
    "body": "",
    "status": 200,
    "response": {
      "status": 200,
      "callCount": 1,
      "copyright": "Tidal data retrieved from www.worldtides.info. Copyright (c) 2014-2026 Brainware LLC. Licensed for use of individual spatial coordinates on behalf of/by an end-user. Generated using AVISO+ FES2022 produced by Noveltis, Legos and CLS and distributed by Aviso+, with support from CNES. NO GUARANTEES ARE MADE ABOUT THE CORRECTNESS OF THIS DATA. You may not use it if anyone or anything could come to harm as a result of using it (e.g. for navigational purposes).",
      "requestLat": 51.5074,
      "requestLon": -0.1278,
      "responseLat": 51.4833,
      "responseLon": -0.15,
      "atlas": "FES2022",
      "station": "Chelsea Bridge",
      "requestDatum": "CD",
      "responseDatum": "CD",
      "extremes": [
        {
          "dt": 1735698797,
          "date": "2025-01-01T02:33+0000",
          "height": 5.977,
          "type": "High"
        },
        {
          "dt": 1735723700,
          "date": "2025-01-01T09:28+0000",
          "height": 0.46,
          "type": "Low"
        },
        {
          "dt": 1735743435,
          "date": "2025-01-01T14:57+0000",
          "height": 5.975,
          "type": "High"
        },
        {
          "dt": 1735768179,
          "date": "2025-01-01T21:49+0000",
          "height": 0.647,
          "type": "Low"
        },
        {
          "dt": 1735787625,
          "dat[...]
